.wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
}

.container-fluid {
    max-width: 1200px;
}

html, body {
    height: 100%;
}

.content {
    padding-bottom: 100px;
}

.book-image {
    height: 150px;
    margin-bottom: 20px;
    object-fit: cover;
}
